{% extends "base.html" %}

{% block title %}Add Training Data{% endblock %}

{% block content_title %}Add Training Data{% endblock %}

{% block content %}
  <form action="{{ url_for('addtrainingdata') }}" class="form-horizontal" method="post">

    <div class="form-group">
      <div class="col-sm-12">
        <textarea class="form-control" id="content" name="snippet" style="height: 400px;">{{ request.form.get('snippet','') }}</textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button class="btn btn-primary" type="submit">Add to DataSet</button>
      </div>
    </div>
  </form>
{% endblock %}