{% extends "base.html" %}

{% block title %}Check Snippet{% endblock %}

{% block content_title %}Paste your Snippet!{% endblock %}

{% block content %}

  <form action="" class="form-horizontal" method="post">

    <div class="form-group">
      <div class="col-sm-12">
        <textarea class="form-control" id="content" name="usersnippet" style="height: 400px;">{{ request.form.get('content','') }}</textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button class="btn btn-primary" type="submit">Check!</button>
      </div>
    </div>
  </form>

{% endblock %}